.acf-field-wpx-icon-picker .acf-fontello-picker {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: scroll;
	max-height: 400px;
	overflow-x: hidden;
}

.acf-field-wpx-icon-picker .acf-fontello-picker-choice {
	display: block;
	flex-basis: 19%;
	cursor: pointer;
	padding: 10px 0;
	border: 1px solid #ececec;
	text-align: center;
}

.acf-field-wpx-icon-picker .acf-fontello-picker-choice.selected {
	border-color: #006799;
}

@media only screen and (max-width: 1200px) {

	.acf-field-wpx-icon-picker .acf-fontello-picker-choice {
		flex-basis: 24%;
	}

}

@media only screen and (max-width: 900px) {

	.acf-field-wpx-icon-picker .acf-fontello-picker-choice {
		flex-basis: 24%;
	}

}

@media only screen and (max-width: 600px) {

	.acf-field-wpx-icon-picker .acf-fontello-picker-choice {
		flex-basis: 32%;
	}

}

@media only screen and (max-width: 500px) {

	.acf-field-wpx-icon-picker .acf-fontello-picker-choice {
		flex-basis: 47%;
	}

}


.acf-field-wpx-icon-picker .acf-fontello-picker-choice i {
	font-size: 30px;
	display: block;
}