.acf-icon-picker__popup #icons-list { background-color: #000; }

.acf-icon-picker__popup ul li:hover { background-color: #000000 !important; }

.acf-icon-picker__popup ul li span { color: #ffffff !important; }

.acf-icon-picker__svg {
	background-color: #000;
}

.acf-icon-picker__svg--span { border-radius: 0 !important; }