/**
 * animations
 */
$transition: all .2s ease-in-out;

/**
 * rhythm margin
 */
$rhythm: 20px;

/**
 * font families
 */
$heading: "Oswald", "Arial Bold", Gadget, sans-serif; 
$body: "Montserrat", "Arial", Gadget, sans-serif; 

/**
 * viewports
 */
$viewport_ultrawide: var(--wp--style--global--wide-size);
$viewport_desktop: var(--wp--style--global--content-size);
$viewport_tablet: 800px;
$viewport_phablet: 600px;
$viewport_mobile: 500px;