/**
 * global context
 */
$context: 1200px;

/**
 * animations
 */
$transition: all .2s ease-in-out;

/**
 * colors
 */
$black: #000000;
$white: #ffffff;
$gray: #cccccc;

/**
 * rhythm margin
 */
$rhythm: 20px;

/**
 * font families
 */
$sans-serif: Helvetica, Arial, sans-serif;
$serif: Georgia, Times, Times New Roman, serif;

/**
 * viewports
 */
$viewport_ultrawide: 1600px;
$viewport_desktop: 1200px;
$viewport_tablet: 800px;
$viewport_phablet: 600px;
$viewport_mobile: 500px;