/**
 * overrides
*/

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	@include font-size($size: 16px, $min: 14px, $max: 22px);

	@include breakpoint('mobile') {
		color: red;
	}
}

textarea { overflow: auto; }

::-ms-clear {
	display: none;
}

a {
	transition: all .2s ease-in-out;
}

ul {
	margin: 0;
	padding: 0;
}

/**
 * globals
 */
.screenreader {

	&:focus {
		outline: none;
	}

	outline: none;
	font-size: 0;
	padding: 0;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.container {
	overflow: hidden;
}

.module {
	overflow: hidden;
}

.wrap {
	@include context();
}