/**
 * overrides
*/

* {
	box-sizing: border-box;
}

body {
	@include font-size(16px, 16px, 18px);
	font-family: $serif;
	width: 100%;
	margin: 0;
}

textarea { overflow: auto; }

::-ms-clear {
	display: none;
}

a {
	transition: $transition;
	text-decoration: none;

	&:hover {}
}

ul {
	margin: 0;
	padding: 0;
}

/**
 * globals
 */
.screenreader {
	outline: none;
	font-size: 0;
	padding: 0;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);

	&:focus {
		outline: none;
	}

}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.clear {
	clear: both;
}

.wrap {
	@include context();
}

.inline {
	display: inline-block;
}

// buttons
.wp-block-button a,
.wp-block-file .wp-block-file__button,
input[type="button"].ninja-forms-field,
input[type="button"].button,
.button {

	&:hover {}
}

/**
 * structure
 */

.bounds {}

/**
 * examples
 */
.calendar-icon {
	@include retina-sprite($calendar-group); // where the files involved were named "icon.png" and "icon@2x.png". Notice the suffix "-group"
}

.background-example {
	@include bg-retina("banner", "jpg", 800px, 517px);
	width: 800px;
	height: 517px;
}