/**
 * overrides
*/
* {
	box-sizing: border-box;
	outline: none;
}

body {
	width: 100%;
	margin: 0;
	display: flex;
	min-height: 100vh;
	overflow-x: hidden;
	flex-direction: column;

	&:not(.wp-admin) {
		color: color('dark-two');
		font-family: $body;
	}

}

::-moz-selection { background: color('yellowish-orange'); }
::selection { background: color('yellowish-orange'); }
::-ms-clear {
	display: none;
}

a {
	transition: $transition;
	text-decoration: none;

	&:hover {}
}

button {
	transition: $transition;
}

/**
 * globals
 */
.screenreader {
	outline: none;
	font-size: 0;
	padding: 0;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);

	&:focus {
		outline: none;
	}

}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.wrap {
	@include context();

	&.wide {
		max-width: $context-wide;
	}

}

.inline {
	display: inline-block;
}

.context {
	@include context();
}

.blocker {
	z-index: 9999;
}

.tinymce {
	@include tinymce();
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

/**
 * colors
 */
@each $class, $hex in $colors {

	.has-#{$class}-color {
		color: $hex;
	}

}

/**
 * structure
 */
.bounds {
	flex: 1 0 auto;
	display: flex;
}

/**
 * WPX Examples
 */

// retina sprite
.calendar-icon {
	@include retina-sprite($calendar-group); // where the files involved were named "icon.png" and "icon@2x.png". Notice the suffix "-group"
}

// retina background image
.background-example {
	@include bg-retina("banner", "jpg", 800px, 517px);
	width: 800px;
	height: 517px;
}