/**
 * all custom blocks
 */
.wpx-custom-block {}

/**
 * negations
 */
.padding-bottom-0 {
	padding-bottom: 0 !important;
}

.padding-top-0 {
	padding-top: 0 !important;
}

.margin-top-0 {
	margin-top: 0 !important;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

/**
 * block: image
 */
.wp-block-image {
	margin-bottom: $rhythm;
	position: relative;

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
		margin-top: $rhythm;
		margin-bottom: $rhythm;

		.wp-element-caption {
			text-align: center;
		}

		@include breakpoint($viewport_phablet) {
			margin-top: $rhythm;
			margin-bottom: $rhythm;
		}
	}

	&.alignwide {
		@include width-wide();
		margin-top: $rhythm;
		margin-bottom: $rhythm;

		.wp-element-caption {
			text-align: center;
		}
	}

	&.alignfull {
		@include explode-width();
		margin-top: $rhythm;
		margin-bottom: $rhythm;
		display: block;

		.wp-element-caption {
			text-align: center;
		}
	}

	figure {
		position: relative;
	}

	&.alignright {
		float: right;
		margin-left: $rhythm;

		@include breakpoint(600px) {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}

		.wp-element-caption {
			text-align: right;

			@include breakpoint(600px) {
				text-align: center;
			}
		}
	}
	
	&.alignleft {
		float: left;
		margin-right: $rhythm;

		@include breakpoint(600px) {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}

		.wp-element-caption {

			@include breakpoint(600px) {
				text-align: center;
			}
		}

	}

	.wp-element-caption {
		text-transform: uppercase;
		text-align: left;
	}

	img {
		max-width: 100%;
		height: auto;
	}

}

/**
 * block: blockquote
 */
.wp-block-quote {
	@include minmax(margin, 5%, 5%);
}

/**
 * block: pre, code
 */
.wp-block-code,
.wp-block-preformatted {}

/**
 * block: pullquote
 */
.wp-block-pullquote {
	@include minmax(margin, 5%, 5%);

	&.alignleft {
		float: left;
		margin-right: $rhythm;
		margin-bottom: $rhythm;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-right: 0;
		}
	}

	&.alignright {
		float: right;
		margin-left: $rhythm;
		margin-bottom: $rhythm;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-left: 0;
		}

	}

	&.alignfull {
		@include explode-width();

		blockquote {
			width: 100%;

			@include breakpoint(780px) {
				width: 90%;
			}
		}

	}

	&.alignwide {
		@include width-wide();

		blockquote {
			width: 100%;
		}
	}

	blockquote {
		@include context();

		.wp-block-pullquote__citation,
		cite {
			@include font-size(16px, 14px);
			text-transform: uppercase;
		}
	}

}

/**
 * block: table
 */
.wp-block-table {
	@include minmax(margin, 5%, 5%);
	overflow-x: auto;

	@include breakpoint(750px) {
		cursor: pointer;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.wp-element-caption {
		@include font-size(16px, 14px);
		margin-top: 10px;
	}

	table {

		@include breakpoint(750px) {
			overflow-x: auto;
			width: 750px !important;
		}

		td {}
	}

	tfoot {

		td {

			&.has-text-align-center {
				text-align: center;
			}

			&.has-text-align-left {
				text-align: left;
			}

			&.has-text-align-right {
				text-align: right;
			}

		}
	}

	thead {

		tr {

			&:nth-child(odd):hover,
			&:hover {
			}
		}

		th {

			&.has-text-align-center {
				text-align: center;
			}

			&.has-text-align-left {
				text-align: left;
			}

			&.has-text-align-right {
				text-align: right;
			}
		}
	}

	&.is-style-regular {
		
		tfoot {

			td {}
		}

		thead {

			tr {}

			th {}

		}

	}

	&.is-style-stripes {

		table {
			td {}
		}

		thead {
			th {}
		}

		tfoot {

			td {}

		}

		tbody {
			tr:nth-child(odd) {}
		}
	}
}

/**
 * block: gallery
 */
.wp-block-gallery {
	@include minmax(margin, 5%, 5%);

	&:last-child {
		margin-bottom: 0;
	}

	li {
		&:before {
			display: none !important;
		}
	}

	figure {
		position: relative;
	}

	.blocks-gallery-item {

		img {
			transition: $transition;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

}

/**
 * block: audio
 */
.wp-block-audio {
	@include minmax(margin, 5%, 5%);

	audio {
		display: block;
	}

	.wp-element-caption {
		@include font-size(16px, 14px);
	}
}

/**
 * block: cover
 */
.wp-block-cover {
	@include minmax(margin, 5%, 5%);

	&.alignleft {
		float: left;
		margin-right: $rhythm;
		margin-bottom: $rhythm;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-right: 0;
		}
	}

	&.alignright {
		float: right;
		margin-left: $rhythm;
		margin-bottom: $rhythm;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-left: 0;
		}

	}

	&.alignfull {
		@include explode-width();
	}

	&.alignwide {
		@include width-wide();
	}

}

/**
 * block: media text
 */
.wp-block-media-text {
	@include minmax(margin, 5%, 5%);

	.wp-block-media-text__media {
		img, 
		video {
			max-width: 100%;
			height: auto;
		}
	}

	&.is-stacked-on-mobile {
		.wp-block-media-text__content {
			@include breakpoint($viewport_phablet) {
				margin-top: $rhythm;
			}
		}
	}

	&.alignfull {
		@include explode-width();
	}

	&.alignwide {
		@include width-wide();

	}

	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
	}

}

/**
 * embed
 */
.wp-block-video,
.wp-block-embed {
	@include minmax(margin, 5%, 5%);

	figure {
		display: block;

		video {
			display: block;
		}
	}

	figcaption {}

	&.alignleft {
		float: left;
		margin-right: $rhythm;
		margin-bottom: $rhythm;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-right: 0;
		}
	}

	&.alignright {
		float: right;
		margin-left: $rhythm;
		margin-bottom: $rhythm;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-left: 0;
		}

	}

	&.alignfull {
		@include explode-width();
	}

	&.alignwide {
		@include width-wide();
	}

	.wp-element-caption {
		@include font-size(16px, 14px);
	}

}

/**
 * block: columns
 */
.wp-block-columns {

	&.alignwide {
		@include width-wide();
		padding: 0 5%;

		@include breakpoint(1000px) {
			padding: 0;
		}
	}

	&.alignfull {
		@include explode-width();
		padding: 0 5%;

		@include breakpoint(1000px) {
			width: 100%;
			margin-left: 0;
			padding: 0;
		}
	}

	.wp-block-column {
		margin-top: 0;

		h1, h2, h3, h4, h5, h6 {
			&:first-child {
				margin-top: 0;
			}
		}

		.wp-block-image {
			&:last-child {
				margin-bottom: 0;
			}
		}

		div:last-child  {
			margin-bottom: 0;
		}

		.wp-block-embed:first-child,
		.wp-block-image:first-child {
			margin-top: 0;
		}
	}
}

/**
 * block: group
 */
.wp-block-group {
	@include minmax(margin, 5%, 5%);

	&.has-background {
		padding-left: 0;
		padding-right: 0;
	}

	&.alignwide {
		@include width-wide();
	}

	&.alignfull {
		@include explode-width();

		.wp-block-group__inner-container {
			width: 90%;
		}

	}

	.wp-block-columns:last-child {
		margin-bottom: 0;
	}

	.wp-block-group__inner-container {

		p:first-child,
		h1:first-child,
		h2:first-child,
		h3:first-child,
		h4:first-child,
		h5:first-child,
		h6:first-child {
			margin-top: 0;
		}

		div:last-child {
			margin-bottom: 0;
		}
	}

}

/**
 * block: separator
 */
.wp-block-separator {
	margin-top: $rhythm;
	margin-bottom: $rhythm;
}

/**
 * block: file
 */
.wp-block-file {
	margin: $rhythm 0;
	display: flex;
	align-items: center;

	@include breakpoint(500px) {
		display: block;
	}

	a {

		@include breakpoint(500px) {
			display: block;
			width: 100%;
			margin: $rhythm auto !important;
			text-align: center;
		}

	}

	&:last-child {
		margin-bottom: 0;
	}
}