/**
 * nav links
 */
p.post-nav-links {
	@include minmax(margin, 5%, 5%);
}

/**
 * alignment
 */
.wpx-custom-block.center {
	text-align: center;
}

.wpx-custom-block.left {
	text-align: left;
}

.wpx-custom-block.right {
	text-align: right;
}

.is-content-justification-center {
	text-align: center;
}

/**
 * custom blocks
 */
.wpx-custom-block {

	.wpx-block-inner {
		@include context();
	}

}

/**
 * padding
 */

// default
.wp-block-group.padding,
.wpx-custom-block.padding,
.wp-block-columns.padding,
.wpx-custom-block.padding {
	@include minmax(padding, 8%, 8%);
}

// less
.wp-block-group.alignfull.padding-less,
.wp-block-group.padding-less
.wp-block-columns.padding-less,
.wpx-custom-block.padding-less {
	@include minmax(padding, 5%, 5%);
}

// less top
.wp-block-group.alignfull.padding-less-top,
.wp-block-group.padding-less-top,
.wp-block-columns.padding-less-top,
.wpx-custom-block.padding-less-top {
	@include minmax(padding, 5%, 0);
}

// less bottom
.wp-block-group.alignfull.padding-less-bottom,
.wp-block-group.padding-less-bottom,
.wp-block-columns.padding-less-bottom,
.wpx-custom-block.padding-less-bottom {
	@include minmax(padding, 0, 5%);
}

// least
.wp-block-group.alignfull.padding-least,
.wp-block-group.padding-least,
.wp-block-columns.padding-least,
.wpx-custom-block.padding-least {
	@include minmax(padding, 2.5%, 2.5%);
}

// least top
.wp-block-group.alignfull.padding-least-top,
.wp-block-group.padding-least-top,
.wp-block-columns.padding-least-top,
.wpx-custom-block.padding-least-top {
	@include minmax(padding, 2.5%, 0);
}


// least bottom
.wp-block-group.alignfull.padding-least-bottom,
.wp-block-group.padding-least-bottom,
.wp-block-columns.padding-least-bottom,
.wpx-custom-block.padding-least-bottom {
	@include minmax(padding, 0, 2.5%);
}

// greater
.wp-block-group.alignfull.padding-greater,
.wp-block-group.padding-greater,
.wp-block-columns.padding-greater,
.wpx-custom-block.padding-greater {
	@include minmax(padding, 12%, 12%);
}

// greater top
.wp-block-group.alignfull.padding-greater-top,
.wp-block-group.padding-greater-top,
.wp-block-columns.padding-greater-top,
.wpx-custom-block.padding-greater-top {
	@include minmax(padding, 12%, 0);
}

// greater bottom
.wp-block-group.alignfull.padding-greater-bottom,
.wp-block-group.padding-greater-bottom,
.wp-block-columns.padding-greater-bottom,
.wpx-custom-block.padding-greater-bottom {
	@include minmax(padding, 0, 12%);
}

/**
 * margin (adjustments)
 */

// default
.wp-block-group.margin,
.wpx-custom-block.margin,
.wp-block-columns.margin,
.wpx-custom-block.margin {
	@include minmax(margin, 8%, 8%);
}

// less
.wp-block-group.alignfull.margin-less,
.wp-block-group.margin-less,
.wpx-custom-block.margin-less,
.wp-block-columns.margin-less {
	@include minmax(margin, 4%, 4%);
}

// top
.wp-block-group.alignfull.margin-top,
.wp-block-group.margin-top,
.wpx-custom-block.margin-top,
.wp-block-columns.margin-top {
	@include minmax(margin, 8%, 0);
}

// bottom
.wp-block-group.alignfull.margin-bottom,
.wpx-custom-group.margin-bottom,
.wpx-custom-block.margin-bottom,
.wp-block-columns.margin-bottom {
	@include minmax(margin, 0, 8%);
}

// less top
.wp-block-group.alignfull.margin-less-top,
.wp-block-group.margin-less-top,
.wp-block-columns.margin-less-top,
.wpx-custom-block.margin-less-top {
	@include minmax(margin, 4%, 0);
}

// less bottom
.wp-block-group.alignfull.margin-less-bottom,
.wp-block-group.margin-less-bottom,
.wp-block-columns.margin-less-bottom,
.wpx-custom-block.margin-less-bottom {
	@include minmax(margin, 0, 4%);
}

// least
.wp-block-group.alignfull.margin-least,
.wp-block-group.margin-least,
.wp-block-columns.margin-least,
.wpx-custom-block.margin-least {
	@include minmax(margin, 2.5%, 2.5%);
}

// least top
.wp-block-group.alignfull.margin-least-top,
.wp-block-group.margin-least-top,
.wp-block-columns.margin-least-top,
.wpx-custom-block.margin-least-top {
	@include minmax(margin, 2.5%, 0);
}

// least bottom
.wp-block-group.alignfull.margin-least-bottom,
.wp-block-group.margin-least-bottom,
.wp-block-columns.margin-least-bottom,
.wpx-custom-block.margin-least-bottom {
	@include minmax(margin, 0, 2.5%);
}

// greater
.wp-block-group.margin-greater,
.wpx-custom-block.margin-greater,
.wp-block-columns.margin-greater,
.wpx-custom-block.margin-greater {
	@include minmax(margin, 12%, 12%);
}

// greater top
.wp-block-group.alignfull.margin-greater-top,
.wp-block-group.margin-greater-top,
.wpx-custom-block.margin-greater-top,
.wp-block-columns.margin-greater-top {
	@include minmax(margin, 12%, 0);
}

// greater bottom
.wp-block-group.alignfull.margin-greater-bottom,
.wpx-custom-group.margin-greater-bottom,
.wpx-custom-block.margin-greater-bottom,
.wp-block-columns.margin-greater-bottom {
	@include minmax(margin, 0, 12%);
}


/**
 * negations
 */
.padding-bottom-0 {
	padding-bottom: 0 !important;
}

.padding-top-0 {
	padding-top: 0 !important;
}

.margin-top-0 {
	margin-top: 0 !important;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

/**
 * block: image
 */
.wp-block-image {
	margin-bottom: $rhythm;
	position: relative;

	.aligncenter {
		margin-top: $rhythm;
		margin-bottom: $rhythm;

		@include breakpoint($viewport_phablet) {
			margin-top: $rhythm;
			margin-bottom: $rhythm;
		}
	}

	&.alignwide {
		@include width-wide();
		margin-top: $rhythm;
		margin-bottom: $rhythm;
	}

	&.alignfull {
		@include explode-width();
		margin-top: $rhythm;
		margin-bottom: $rhythm;
		display: block;
	}

	figure {
		position: relative;
	}

	.alignright {
	}
	
	.alignleft {
	}

	figcaption {
	}

	img {
		max-width: 100%;
		height: auto;
	}

}

/**
 * block: blockquote
 */
.wp-block-quote {
	@include minmax(margin, 5%, 5%);

	&.has-text-align-center {}

	&.has-text-align-right {}

	&.is-style-large {
		@include minmax(margin, 5%, 5%);
	}

	cite {}

	@include block-defaults();

}

/**
 * block: code
 */
.wp-block-code {}

/**
 * block: pre
 */
.wp-block-preformatted {}

/**
 * block: pullquote
 */
.wp-block-pullquote {
	@include minmax(margin, 5%, 5%);

	&.alignleft {
		float: left;
		max-width: 400px;
		margin-right: $rhythm*2;
		margin-bottom: $rhythm*2;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-right: 0;
		}
	}

	&.alignright {
		float: right;
		max-width: 400px;
		margin-left: $rhythm*2;
		margin-bottom: $rhythm*2;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-left: 0;
		}

	}

	&.is-style-solid-color {

	}

	&.alignfull {
		@include explode-width();

		blockquote {
			width: 100%;
			max-width: 650px;

			@include breakpoint(780px) {
				width: 90%;
			}
		}

	}

	&.alignwide {
		@include wide-width(120%, -10%);

		@include breakpoint(980px) {
			max-width: 100%;
			margin-left: 0;
		}

		blockquote {
			width: 100%;
			max-width: 650px;
		}

		p, cite {
			max-width: 650px;
			margin: 0 auto;
		}
	}

	blockquote {
		@include context();
		max-width: 650px;
		width: 100%;

		p {
			@include breakpoint($viewport_mobile) {
				margin-bottom: $rhythm*0.75 !important;
			}
		}

		.wp-block-pullquote__citation,
		cite {
		}
	}

	@include block-defaults();
}

/**
 * block: table
 */
.wp-block-table {
	@include minmax(margin, 5%, 5%);
	overflow-x: auto;

	@include breakpoint(750px) {
		cursor: pointer;
	}

	&:last-child {
		margin-bottom: 0;
	}

	figcaption {
	}

	table {

		@include breakpoint(750px) {
			overflow-x: auto;
			width: 750px !important;
		}

		td {
		}
	}

	tfoot {

		td {

			&.has-text-align-center {
				text-align: center;
			}

			&.has-text-align-left {
				text-align: left;
			}

			&.has-text-align-right {
				text-align: right;
			}

		}
	}

	thead {

		tr {

			&:nth-child(odd):hover,
			&:hover {
			}
		}

		th {

			&.has-text-align-center {
				text-align: center;
			}

			&.has-text-align-left {
				text-align: left;
			}

			&.has-text-align-right {
				text-align: right;
			}
		}
	}

	&.is-style-regular {
		
		tfoot {

			td {}
		}

		thead {

			tr {}

			th {}

		}

	}

	&.is-style-stripes {

		table {
			td {}
		}

		thead {
			th {}
		}

		tfoot {

			td {}

		}

		tbody {
			tr:nth-child(odd) {}
		}
	}
}

/**
 * block: gallery
 */
.wp-block-gallery {
	@include minmax(margin, 5%, 5%);

	&:last-child {
		margin-bottom: 0;
	}

	li {
		&:before {
			display: none !important;
		}
	}

	.blocks-gallery-caption {}

	figure {
		position: relative;
	}

	.blocks-gallery-item {

		img {
			transition: $transition;
		}

		&:hover {
			a {
				img {}
			}
			a + figcaption {}
		}

		figcaption {}

	}

	&:last-child {
		margin-bottom: 0;
	}

	.blocks-gallery-grid {
		margin: 0;
	}
}

/**
 * block: audio
 */
.wp-block-audio {
	@include minmax(margin, 5%, 5%);

	figcaption {}

	audio {
		display: block;
	}
}

/**
 * block: cover
 */
.wp-block-cover {
	@include minmax(margin, 5%, 5%);

	&.alignleft {
		float: left;
		max-width: 400px;
		margin-right: $rhythm*2;
		margin-bottom: $rhythm*2;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-right: 0;
		}
	}

	&.alignright {
		float: right;
		max-width: 400px;
		margin-left: $rhythm*2;
		margin-bottom: $rhythm*2;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-left: 0;
		}

	}

	&.alignfull {
		@include explode-width();
	}

	&.alignwide {
		@include wide-width(120%, -10%);

		@include breakpoint(980px) {
			max-width: 100%;
			margin-left: 0;
		}
	}

}

/**
 * block: media text
 */
.wp-block-media-text {
	@include minmax(margin, 5%, 5%);

	.wp-block-media-text__media {
		img, 
		video {
			max-width: 100%;
			height: auto;
		}
	}

	&.is-stacked-on-mobile {
		.wp-block-media-text__content {
			margin-top: $rhythm;
		}
	}

	&.alignfull {
		@include explode-width();
	}

	&.alignwide {
		@include wide-width(120%, -10%);

		@include breakpoint(980px) {
			max-width: 100%;
			margin-left: 0;
		}
	}

}

/**
 * embed
 */
.wp-block-video,
.wp-block-embed {
	@include minmax(margin, 5%, 5%);

	figure {
		display: block;

		video {
			display: block;
		}
	}

	figcaption {}

	&.alignleft {
		float: left;
		max-width: 400px;
		margin-right: $rhythm*2;
		margin-bottom: $rhythm*2;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-right: 0;
		}
	}

	&.alignright {
		float: right;
		max-width: 400px;
		margin-left: $rhythm*2;
		margin-bottom: $rhythm*2;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-left: 0;
		}

	}

	&.alignfull {
		@include explode-width();
	}

	&.alignwide {
		@include wide-width(120%, -10%);

		@include breakpoint(980px) {
			max-width: 100%;
			margin-left: 0;
		}
	}

}

/**
 * block: columns
 */
.wp-block-columns {

	&.alignwide {
		@include width-wide();
	}

	&.alignfull {
		@include explode-width();
		padding: 0 5%;

		@include breakpoint(782px) { // overrides WP core sheet
			padding: 0;
			width: 100%;
		}

	}

	@include breakpoint(782px) { // overrides WP core sheet
		margin: 0 !important;
	}

	.wp-block-column {
		margin-top: 0;

		h1, h2, h3, h4, h5, h6 {
			&:first-child {
				margin-top: 0;
			}
		}

		@include breakpoint(782px) { // overrides WP core sheet
			margin-bottom: $rhythm;
		}

		.wp-block-image {
			&:last-child {
				margin-bottom: 0;
			}
		}

		&:nth-child(2n) {
			@include breakpoint(782px) { // overrides WP core sheet
				margin-left: 0;
			}
		}

		@include breakpoint(782px) { // overrides WP core sheet
			flex-basis: 100% !important;
		}

		div:last-child  {
			margin-bottom: 0;
		}

		.wp-block-embed:first-child,
		.wp-block-image:first-child {
			margin-top: 0;
		}
	}
}

/**
 * block: group
 */
.wp-block-group {
	@include minmax(margin, 5%, 5%);

	&.has-background {
		@include minmax(margin, 5%, 5%);
		@include minmax(padding, 5%, 5%);
		padding-left: 0;
		padding-right: 0;
	}

	&.alignwide {
		@include width-wide();
	}

	&.alignfull {
		@include explode-width();
		display: block;

		.wp-block-group__inner-container {
			width: 90%;
		}

		@include block-defaults();
	}

	.wp-block-columns:last-child {
		margin-bottom: 0;
	}

	.wp-block-group__inner-container {
		max-width: $context;
		width: 90%;
		margin: 0 auto;

		p:first-child,
		h1:first-child,
		h2:first-child,
		h3:first-child,
		h4:first-child,
		h5:first-child,
		h6:first-child {
			margin-top: 0;
		}

		div:last-child {
			margin-bottom: 0;
		}
	}

}

/**
 * block: separator
 */
.wp-block-separator {
	@include minmax(margin, 5%, 5%);

	&.is-style-dots {}

}

/**
 * block: social
 */
body ul.wp-block-social-links {
	@include minmax(margin, 5%, 5%);
	margin-left: 0;

	li {
		&:before {
			display: none !important;
		}
	}

	&.items-justified-space-between {
		justify-content: space-between;
	}

	&.items-justified-left {
		justify-content: left;
	}

	&.items-justified-right {
		justify-content: right;
	}

	&.alignright {
		float: right;
		max-width: 400px;
		margin-left: $rhythm*2;
		margin-bottom: $rhythm*2;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-left: 0;
		}

	}

	&.alignleft {
		float: right;
		max-width: 400px;
		margin-right: $rhythm*2;
		margin-bottom: $rhythm*2;
		margin-top: 5px;

		@include breakpoint(800px) {
			@include minmax(margin, 5%, 5%);
			max-width: 100%;
			float: none;
			margin-left: 0;
		}

	}

}

/**
 * block: file
 */
.wp-block-file {
	margin: $rhythm 0;
	display: flex;
	align-items: center;

	@include breakpoint(500px) {
		display: block;
	}

	a {

		@include breakpoint(500px) {
			display: block;
			width: 100%;
			margin: $rhythm auto !important;
			text-align: center;
		}

	}

	&:last-child {
		margin-bottom: 0;
	}
}

/**
 * block: buttons
 */
.wp-block-buttons {
	@include minmax(margin, 5%, 5%);

	.wp-block-button {
		margin-top: 5px;

		@include breakpoint(500px) {
			display: block;
		}

		&:last-child {
			@include breakpoint(500px) {
				margin-bottom: 0;
			}
		}

		a {
			text-decoration: none;
		}
	}
}