/**
 * buttons
 */
.wp-block-buttons {
	@include minmax(margin, 5%, 5%);
}

.wp-block-file {
	@include minmax(margin, 5%, 5%);

	&:last-child {
		margin-bottom: 0;
	}
}


input[type="submit"],
a.wp-block-button__link,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
.wp-block-file a.wp-block-file__button,
.wp-block-button a.wp-block-button__link {
	@include font-size(16px, 14px);
	color: color('white');
	background-color: color('dark');
	height: auto !important;
	padding: 20px;
	font-family: $heading;
	cursor: pointer;
	line-height: 1;
	transition: all 0.2s ease-in-out;

	@each $class, $hex in $colors {

		&.has-#{$class}-background-color {
			background-color: $hex;
		}

		&.has-#{$class}-color {
			color: $hex;
			border-color: $hex;
		}

	}

	&:hover {
		background-color: color('yellowish-green');
		color: color('dark-two');
	}

}

.wp-block-button.is-style-outline {

	.wp-block-button__link {
		background-color: transparent;
		color: color('dark');

		@each $class, $hex in $colors {

			&.has-#{$class}-color {
				color: $hex;
			}

		}

		&:hover {
			background-color: color('yellowish-green');
			color: color('dark-two');
			border-color: color('yellowish-green');

			@each $class, $hex in $colors {

				&.has-#{$class}-color {
					background-color: $hex;
					border-color: $hex;
				}

			}

		}
	}

}